<div class="col-md-8 col-xs-12 animated fadeIn">
    <div>
        <header>
            <h1>About <strong>mentorMe</strong></h1>
        </header>
        <section  class="well well-lg">
            <p><strong>mentorMe</strong> is a JavaScript web application meant to facilitate the interaction between teacher and student.</p>
            <p>It is a platform where a teacher can create tasks with title and description, add links to useful resources, set deadline.
                Teachers can assign the tasks they created to any registered student. Tasks can be editted or deleted before the deadline.</p>
            <p>Students are expected to complete their tasks on or before the deadline. They can use the blog to ask questions about the tasks.</p>
            {{^userId}}
            <p><a href="#/login/">Login</a> or <a href="#/register/">register</a> tp try the app.</p>
            {{/userId}}
            <p>There's an additional option in the application which provides opportunity for teachers and students to share blog posts with helpful information related to the tasks that are provided by them.</p>
        </section>
    </div>
</div>