<div class="col-md-8 col-xs-12 animated fadeIn">
    <div class="well well-lg">
        <header>
            <h1>About <strong>mentorMe</strong></h1>
        </header>
        <section">
            <p><strong>mentorMe</strong> is a JavaScript web application meant to facilitate the interaction between teacher and student.</p>
            <p>It is a platform where a teacher can create tasks with title and description, add useful resources, set deadline and assign them to certain students.</p>
            <p>Students complete the tasks that have been assigned to them sending submissions.</p>
        </section>
    </div>
</div>