<div class="col-md-8 col-xs-12 animated fadeIn">
    <div class="well well-lg">
        <header>
            <h1>About <strong>mentorMe</strong></h1>
        </header>
        <section">
            <p><strong>mentorMe</strong> is a JavaScript web application, it </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus, ad architecto cum cumque distinctio eius
                facilis qui temporibus? Ducimus, in, quam! Cupiditate eaque
                labore laboriosam nesciunt odio officiis provident voluptatum?</p>
        </section>
    </div>
</div>