<div class="col-md-8 animated fadeIn">
    <h2>Welcome, {{username}}</h2>
    <p>You are a teacher, what to put here?</p>
</div>


<div class="col-md-12 teachersHomeWrap animated fadeIn">
    <div class="row">

        <div class="col-xs-12 postElement well well-sm">
            <header>
                <h3><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Recent Posts</h3>
            </header>

        </div>

        <div class="col-xs-12 taskElement taskElementHome well well-sm">
            <header>
                <h3><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Task Board</h3>
                <ul>
                    <li><h4>Avery task with very long description</h4></li>
                    <li><h4>Plant trees</h4></li>
                    <li><h4>Write an essay about shopping</h4></li>
                </ul>
                <a href="#/tasks/" class="btn btn-default btn-sm">See More Tasks</a>
                <a href="#/new-task/" class="btn btn-primary btn-sm">Create New Task</a>
            </header>
        </div>
    </div>
</div>

