<div class="col-lg-6 col-md-8 col-xs-12 animated fadeIn">
    <div class="jumbotron">
        <form name="LoginForm">
            <h2>Login</h2>
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control" id="username">
            </div>

            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="button" class="btn btn-primary btn-lg" id="loginBtn">Login</button>
            <span>or</span>
            <a href="#/register/">Register</a><span> as a student</span>
        </form>
    </div>
</div>