<div class="modal fade" id="submissionPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="col-md-12 submissionContent"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="col-md-12 col-sx-12 animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <header class="col-md-12">
                <h1><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;&nbsp;Check Submissions</h1>
                <span>about task&nbsp;</span><span class="lead">&quot;{{taskInfo.title}}&quot; </span>
                <div class="row">
                    <p class="text-right col-md-12">
                        <button class="text-right btn btn-default" onclick="window.history.back()">
                            <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
                        </button>
                    </p>
                </div>
            </header>
            <div class="col-md-12 margin-top-20">
                <ul class="no-style-list">
                    {{#submissions}}
                    <li class="col-md-12">
                        <div class="well well-lg submissionInfo" data-submission-title="{{submission.title}}" data-submission-content="{{submission.content}}">
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-3"><strong>{{username}}</strong></label>
                                <div class="col-sm-9 col-xs-3">
                                    {{#submission}}
                                    <span class="label label-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Submission sent</span>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submissionPreview">Details</button>
                                    {{/submission}}
                                    {{^submission}}
                                    <span class="label label-danger"><span class="glyphicon glyphicon-minus"></span>&nbsp;No submission</span>
                                    {{/submission}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/submissions}}
                </ul>
            </div>
        </div>
    </div>
        <!--<div class="col-md-4 hidden-sm hidden-xs">-->
            <!--<h3>Task Information</h3>-->
            <!--<div class="task-ref" id="taskInfo.id">-->
                <!--<h4><strong>{{taskInfo.title}}</strong></h4>-->
                <!--<div class="margin-top-20"><em>{{taskInfo.description}}</em></div>-->
            <!--</div>-->
        <!--</div>-->
</div>