<div class="modal fade" id="submissionPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="col-md-12 submissionContent"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="col-md-12 col-sx-12 animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <header class="col-md-12">
                <h1><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;&nbsp;Check Submissions</h1>
                <span>for task&nbsp;</span><span class="lead">&quot;{{taskInfo.title}}&quot; </span>
                <div class="row">
                    <p class="text-right col-md-12">
                        <button class="text-right btn btn-default" onclick="window.history.back()">
                            <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
                        </button>
                    </p>
                </div>
            </header>
            <div class="col-md-12 margin-top-20">
                    {{#submissions}}
                    <div class="col-md-4 col-sm-8 col-xs-12">
                        <div class="panel {{#submission}}panel-success{{/submission}}{{^submission}}panel-info{{/submission}} submissionInfo" data-submission-title="{{submission.title}}" data-submission-content="{{submission.content}}">
                            <div class="panel-heading"><span class="glyphicon glyphicon-send"></span>
                                <span class="panel-title">{{username}}</span>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <!--<span class="col-md-4">username:</span>-->
                                        <span class="col-md-12 text-right"><strong>{{username}}</strong></span>
                                    </div>
                                    <div class="col-md-12">
                                        <!--<span class="col-md-4">name:</span>-->
                                        <span class="col-md-12 text-right">{{firstName}}&nbsp;{{lastName}}</span>
                                    </div>
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-12 text-right">
                                            {{#submission}}
                                            <span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                                            <a class="btn btn-info btn-xs" type="button" data-toggle="modal" data-target="#submissionPreview">
                                                <span class="glyphicon glyphicon-zoom-in"></span>&nbsp;Details
                                            </a>
                                            {{/submission}}
                                            {{^submission}}
                                            <span class="label label-danger"><span class="glyphicon glyphicon-minus"></span>&nbsp;&nbsp;No Submission</span>
                                            {{/submission}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/submissions}}
                    {{^submissions}}
                    <p class="alert alert-warning">No submissions have been sent for this task.</p>
                    {{/submissions}}
                </d>
            </div>
        </div>
    </div>
        <!--<div class="col-md-4 hidden-sm hidden-xs">-->
            <!--<h3>Task Information</h3>-->
            <!--<div class="task-ref" id="taskInfo.id">-->
                <!--<h4><strong>{{taskInfo.title}}</strong></h4>-->
                <!--<div class="margin-top-20"><em>{{taskInfo.description}}</em></div>-->
            <!--</div>-->
        <!--</div>-->
</div>