<div class="modal fade" id="taskPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-2"><strong>Description:</strong></label>
                                <p class="col-md-8 col-xs-9 col-xs-offset-1 taskDescription"></p>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-2"><strong>Resources:</strong></label>
                                <p class="col-md-8 col-xs-9 col-xs-offset-1 taskResources"></p>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-2"><strong>Deadline:</strong></label>
                                <p class="col-md-8 col-xs-9 col-xs-offset-1 taskDeadline"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="col-md-12 col-sx-12 animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <header>
                <h1><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Create New Task</h1>

                <div class="row">
                    <p class="text-right col-md-12">
                        <button class="text-right btn btn-default" onclick="window.history.back()">
                            <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
                        </button>
                        <a href="#/tasks/" class="btn btn-primary">All Tasks</a>
                    </p>
                </div>
            </header>
                <div class="well well-lg">
                    <section>
                        <form name="createTaskForm" class="form-horizontal margin-top-20">
                            <div class="form-group">
                                <label for="title" class="col-sm-3">Title:</label>
                                <div class=" col-sm-8">
                                    <input type="text" id="title" class="form-control" placeholder="set a title" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-3">Description:</label>
                                <div class="col-sm-8">
                                    <textarea id="description" class="form-control" placeholder="give short description" required="required"></textarea>
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                                <!--<label for="addStudents" class="col-sm-3">Students:</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<button class="btn btn-default" id="addStudents">-->
                                        <!--<span class="glyphicon glyphicon-plus"></span>-->
                                        <!--&nbsp;&nbsp;Add students-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="form-group">
                                <label for="resource" class="col-sm-3">Resources:</label>
                                <ul class="col-sm-8 no-style-list" id="addedResources">
                                </ul>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-sm-8 col-sm-offset-3">
                                    <input type="text" class="form-control" id="resource" placeholder="paste a url">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="addUrl" type="button">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="deadline" class="col-sm-3">Deadline:</label>
                                <div class="input-group date col-sm-8" data-provide="datepicker">
                                    <input type="text" class="form-control datepicker-me" data-date-format="dd-mm-yyyy" data-date-orientation="auto" data-date-autoclose="true" id="deadline" placeholder="pick a deadline" required="required">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal padding-top-20">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <a class="btn btn-default" type="button" data-toggle="modal" data-target="#taskPreview">Preview</a>
                                        <a class="btn btn-default" type="button" id="clearForm">Clear form</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a class="btn btn-primary" type="button" id="saveTask">Submit Task</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
        </div>
        <!--<div class="col-md-4 col-xs-12">-->
            <!--<aside>-->
                <!--<h4>My tasks</h4>-->
                <!--<div class="well well-sm">-->
                    <!--<button class="btn-primary">Controls</button>-->
                <!--</div>-->
            <!--</aside>-->
        <!--</div>-->
    </div>
</div>