<div class="col-lg-6 col-md-8 col-xs-12 animated fadeIn">
    <div class="jumbotron">
        <form name="RegisterForm" id="RegisterForm">
            <h2>Register</h2>
            <div class="row">
                <div class="col-md-10 col-sx-12">
                    <div class="form-group">
                        <label for="student-check" class= "radio-inline">
                            <input type="radio" name="role" value="student" id="student-check">Student
                        </label>

                        <label for="teacher-check" class= "radio-inline">
                            <input type="radio" name="role" value="teacher" id="teacher-check">Teacher
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="margin-top-20">
                            <label for="username">Username: </label>
                            <input type="text" class="form-control" id="username">
                        </div>

                        <div class="margin-top-20">
                            <label for="firstName">First name: </label>
                            <input type="text" class="form-control" id="firstName">
                        </div>

                        <div class="margin-top-20">
                            <label for="lastName">Last name: </label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="margin-top-20">
                            <label for="email">Email: </label>
                            <input type="email" class="form-control" id="email">
                        </div>

                        <div class="margin-top-20">
                            <label for="password">Password: </label>
                            <input type="password" class="form-control" id="password">
                        </div>

                        <div class="margin-top-20">
                            <label for="confirm-password">Repeat password: </label>
                            <input type="password" class="form-control" id="confirm-password">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                            <!--<div id="avatar-upload-section" class="margin-top-20">-->
                                <!--<label for="uploadFile">Upload avatar</label>-->
                                <!--<div id="preview"></div>-->
                                <!--<input id="uploadFile" placeholder="Choose File" disabled="disabled" />-->
                                <!--<div class="fileUpload btn btn-default">-->
                                    <!--<span>Choose a file</span>-->
                                    <!--<input id="uploadBtn" type="file" class="upload" />-->
                                <!--</div>-->
                            <!--</div>-->
                    <!--</div>-->

                    </div>

                    <button type="button" class="btn btn-primary btn-lg" id="registerBtn">Register</button>
                    <span>or</span>
                    <a href="#/login/">Login</a><span> if you already have signed up.</span>
                </div>
            </div>
        </form>
    </div>
</div>
