<div class="col-md-12 col-sx-12 animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-xs-12">

            <div class="postElement well well-lg">

                <label for="postTitle">Post Title: </label>
                <input class="form-control" type="text" id="postTitle" size="50">
                </br>
                <label for="postContent">Post Content: </label>
                <textarea class="form-control" name="postContent" id="postContent" cols="50" rows="10"></textarea>
                </br>
                <button class="btn btn-primary" type="button" id="sendPost">Create Post</button>

            </div>

        </div>
    </div>
</div>

