<div class="animated fadeIn">
    <h2>New Post</h2>
    <form>
        <div class="form-group">
            <div>
                <label for="postTitle">Post Title: </label></br>
                <input type="text" id="postTitle" size="50">
            </div>
            <div>
                <label for="postContent">Post Content: </label></br>
                <textarea name="postContent" id="postContent" cols="50" rows="10"></textarea>
            </div>
        </div>

        <button type="button" id="sendPost">Send Post</button>
    </form>
</div>