<div class="col-md-12 col-sx-12 animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-xs-12">

            <header>
                <h1><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Posts</h1>

                <p class="text-right">

                    <button class="text-right btn btn-default" onclick="window.history.back()">
                        <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
                    </button>

                    <a href="#/new-post/" class="btn-primary btn">Create New Post</a>
                </p>
            </header>

            <div class="margin-top-20">

                {{#posts}}

                <p><span class="glyphicon glyphicon-time"></span> {{date}}</p>

                    <article class="postElement panel panel-info" id="{{_id}}">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="title">&quot;{{title}}&quot;
                            <i>by {{author}}</i></h4>
                        </div>

                        <div class="panel-body">
                            <p>&quot;{{content}}&quot;</p>
                        </div>

                        {{#isAuthor}}
                            <a href="#/edit-post/{{_id}}/" type="button" class="editButton btn btn-primary btn-sm">Edit</a>
                            <button class="deleteButton btn btn-primary btn-sm">Delete post</button>
                        {{/isAuthor}}
                    </article>
                {{/posts}}
                {{^posts}}
                    <p>No posts created so far, do you want to <a href="#/new-post/">create new post!</a></p>
                {{/posts}}
            </div>
        </div>
    </div>
</div>
