<div class="col-md-12 col-sx-12 animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-xs-12" id="studentsList" data-task-id="{{taskId}}">
            <header class="col-md-12">
                <h1><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Students</h1>
                <div class="row">
                    <p class="text-right col-md-12">
                        <button class="text-right btn btn-default" onclick="window.history.back()">
                            <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
                        </button>
                        {{#taskId}}
                        <button type="button" class="btn btn-primary" id="addSelectedStudents">
                            Assign task to selected students
                        </button>
                        {{/taskId}}
                        <!--<a href="#/new-task/" class="btn btn-primary">Create New Task</a>-->
                    </p>
                </div>
            </header>
            <div class="col-md-12 margin-top-20">
                {{#students}}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="studentIdCard panel panel-primary" id="{{_id}}">
                        <!--<div class="checkbox">-->
                        {{#taskId}}
                        <label>
                            <input type="checkbox" value="{{_id}}">
                        </label>
                        {{/taskId}}
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>{{username}}</strong></h3>
                        </div>
                        <div class="panel-body">
                            <span class="text-left"><strong>first name:</strong>&nbsp;{{firstName}}</span>
                            <br>
                            <span class="text-left"><strong>last name:</strong>&nbsp;{{lastName}}</span>
                            <span class="text-left"><strong>e-mail:</strong><a href="mailto:#">&nbsp;{{email}}</a></span>
                        </div>

                        <!--</div>-->
                    </div>
                </div>
                {{/students}}
                {{^students}}
                <p>No registered students so far.</p>
                {{/students}}
            </div>
        </div>
    </div>
</div>