<div class="modal fade" id="taskPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-2"><strong>Deadline:</strong></label>
                            <p class="col-md-8 col-xs-9 col-xs-offset-1 taskDeadline"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-2"><strong>Description:</strong></label>
                            <p class="col-md-8 col-xs-9 col-xs-offset-1 taskDescription"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-2"><strong>Resources:</strong></label>
                            <p class="col-md-8 col-xs-9 col-xs-offset-1 taskResources"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-2"><strong>Progress:</strong></label>
                            <p class="col-md-8 col-xs-9 col-xs-offset-1 taskProgress"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!--modal-->

<div class="col-md-12 col-sx-12 animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <header class="col-md-12">
                <h1><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Tasks</h1>
                <p>All the tasks that have been assigned to you</p>
                <div class="row">
                    <p class="text-right col-md-12">
                        <button class="text-right btn btn-default" onclick="window.history.back()">
                            <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
                        </button>
                    </p>
                </div>
            </header>
            <div class="col-md-12 margin-top-20">
                {{#tasks}}
                <div class="panel panel-primary taskElement" id="{{_id}}">
                    <div class="panel-heading">
                        <h4 class="panel-title"><strong>&quot;{{title}}&quot;</strong></h4>
                        <span><em>by&nbsp;<strong>{{author}}</strong></em></span>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 col-xs-12 text-left description">
                            <h5><span class="glyphicon glyphicon-list-alt"></span><strong>&nbsp;Description</strong></h5>
                            <p class="text-justify description-area"><em>{{description}}</em></p>
                        </div>
                            <div class="col-md-12 col-xs-12 text-left resources">
                                <h5><span class="glyphicon glyphicon-link"></span><strong>&nbsp;Resources</strong></h5>
                                <ol class="no-style-list">
                                    {{#resources}}
                                    <li><a href="*{{.}}" target="_blank">{{.}}</a></li>
                                    {{/resources}}
                                    {{^resources}}
                                    <li>No resources</li>
                                    {{/resources}}
                                </ol>
                            </div>
                            <!--<div class="col-md-12 col-xs-12 text-left">-->
                                <div class=" col-md-6 col-sx-12 deadline">
                                    <h5><span class="glyphicon glyphicon-calendar"></span><strong>&nbsp;Deadline</strong></h5>
                                    <p>{{deadline}}</p>
                                </div>
                                <div class="col-md-6 col-xs-12 text-right submissions margin-top-20">
                                    <!--TODO - submisson not submissions-->
                                    {{#submission}}
                                    <span class="label label-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Submission sent</span>
                                    {{/submission}}
                                    {{^submission}}
                                    <a href="#/create-submission/{{_id}}/" class="btn btn-primary createSubmission">Create Submission</a>
                                    {{/submission}}
                                </div>
                            <!--</div>-->
                    </div>
                </div>
                {{/tasks}}
                {{^tasks}}
                <p>Currently you have no tasks</a></p>
                {{/tasks}}
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
        </div>
    </div>
</div>

