<div class="col-md-10">
    <h2>Tasks</h2>
    <div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Action</th>
                </tr>
                </thead>
                {{#tasks}}
                <tbody>
                <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>{{deadline}}</td>
                </tr>
                </tbody>
                {{/tasks}}
            </table>

            {{^assignments}}
            <p>Currently there are no tasks.
                {{/assignments}}
        </div>
    </div>
</div>