body{
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.margin-top-20{
    margin-top: 20px;
}

.margin-top-60{
    margin-top: 60px;
}

.preview-background-color{
    border-radius: 6px;
    background-color: #eeeeee;
    padding: 20px;
}

dd, td {
    word-wrap: break-word;
}
.margin-bottom-0{
    margin-bottom: 0;
}

.table {
    table-layout:fixed;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.width-height-140{
    width: 140px;
    height: 140px;
    margin: 10px;
    box-shadow: 1px 1px 1px 0px;
}

.margin-top-20{
    margin-top: 20px;
}

.padding-top-20{
    padding-top: 20px;
}

.studentElement{

}

.taskElement{
    background-color: rgba(204, 255, 204, 0.2);
}

.taskElement h4{
    /*background-color: rgba(204, 255, 204, 0.1);*/
    border-radius: 2px;
    padding: 2px;
}

.tabbed-task-body{
    margin-left:20px;
}

.vc-logo {
    margin-top: -12px;
}

.border-top{
    border-top: 1px solid grey;
}

